/* RESET CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* GLOBAL CSS */
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	background-color: beige;
	margin: 0;
}

#wrapper {
	margin: 0 auto;
	width: 1200px;
	background-color: #fff;
}
.clear {
	clear: both;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	padding-bottom: 10px;
}
h1 {
	border-bottom: 1px solid #252323;
	margin-bottom: 20px;
}
ul > li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* Les couleurs du site 
#6882e1 : Bleu
#ffa000 : Orange */

/******************* HEADER *******************/

header {
	background-color: #6882e1;
	width: 100%;
}

/* Navigation secondaire */

#sec-nav {
	width: 100%;
	height: 120px;
	padding: 10px 50px;
}
#sec-nav > a {
	display: inline-block;
	height: 100px;
	line-height: 100px;
}
#logo{
	width: 90px;
	float: left;
	padding-top: 10px;
}
#agence_name {
	color: #fff;
	float: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	vertical-align: middle;
	margin-left: 20px;
}
#sec-nav ul {
	display: inline;
	float: right;
	height: 100px;
	line-height: 100px;
}
#sec-nav  ul > li {
	display: inline-block;	
	font-size: 0.9em;
	margin-left: 25px;
}
#sec-nav ul li > a {
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 10px;
	vertical-align: middle;
}
#sec-nav ul li > a:hover {
	background-color: #ffa000;
}

/* Navigation principale */
#main-menu {
	background-color: #ffa000;
	width: 100%;
	text-align: center;
}
#main-menu ul {
	display: inline;
}
#main-menu ul > li {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#main-menu ul li > a {
	display: inline-block;
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 0 50px;
}
#main-menu >ul >li a:hover{
	background-color: #6882e1;
}

/******************* Page ACCUEIL *******************/
main{
	width: 100%;
}
/* Debut Banner */
#container_slider{
   	width: 100%;
}
#slider_images {
	float: left;
	width: 800px;
    height: 500px;
	overflow: hidden;
    position: relative;
}
ul#slider_diapo_img {
    width: 4800px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 500ms ease-in-out;
}
ul#slider_diapo_img > li {
    display: block;
    float: left;
    width: 800px;
    height: 500px;
}
#slider_content{
	float: left;
	width: 400px;
	height: 500px;
	overflow: hidden;
	position: relative;
	background-color: #252323;

}
ul#slider_diapo_txt {
	width: 400px;
	height: 3000px;
	position: absolute;
	top: 0;
	left: 0;
	transition: top 300ms;
}
ul#slider_diapo_txt > li {
	display: block;
	float: left;
	width: 400px;
	height: 500px;
	color: #fff;
	padding: 50px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.slider_info h2, .slider_info h4 {
	padding-bottom: 10px;
}
.slider_info h4 {
	color: #5D5D5D;
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
}
.slider_info p {
	padding-bottom: 10px;
	font-size: 0.8em;
	line-height: 2em;
}
.slider_info > .slider_prix {
	font-size: 1.3em;
	color: #ffa000;
}
/* Fin Banner */
section {
	padding:50px;
}
section > p {
	margin-bottom: 20px;
    line-height: 1.5em;
}

/******************* CATALOGUE *******************/

#content {
	margin-top: 30px;
}
#accordion_cats h3 {
	margin-bottom: 5px;
	background-color: #6882e1;
	color: white;
	cursor: pointer;
	padding: 20px;
	width: 100%;
	text-align: left;
	letter-spacing: 2px;
	transition: 0.4s;
	display: inline-block;
}
#accordion_cats h3:hover, #accordion_cats h3.active{
	background-color: #ffa000;
}
#accordion_cats > div{
	display: none;
}
ul.forfait_list {
	background-color: white;
}
li.forfait {
	clear: both;
	width: 100%;
	height: 185px;
	position: relative;
	list-style-type: none;
}
.forfait img{
	display: inline-block;
	float: left;
	margin: 25px;
}
div.forfait_desc {
	float: left;
	width: 70%;
	height: 158px;
	margin-top: 25px;
	position: relative;
}
.forfait_desc h4 {
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 10px;
	border-bottom: 1px solid #252323;
}
#prix {
	float: right;
	color: #ffa000;
	letter-spacing: 2px;
	font-weight: bold;
}
.forfait_desc p:first-of-type {
	margin-top: 20px;
}
.forfait_desc p {
	font-size: 0.9em;
	line-height: 1.5em;
	letter-spacing: 2px;
}
.forfait_detail {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	/*margin-top: 15px;*/
	background-color: #252323;
	color: #ffa000;
	letter-spacing: 2px;
	font-weight: 500;
	padding: 10px 25px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.forfait_detail:hover {
	background-color: #ffa000;
	color: #252323;
}
/* Light Box */
#detail_produit {
	display : none;
	background: white;
	border-radius: 10px;
	margin: 100px auto;
	position: relative;
	width: 500px;
	padding: 40px;
}
#mb_detail_forfait{
	position: relative;
	font-size: 14px;
}
#mb_detail_forfait .info{
	color: #6882e1;
	font-style: italic;
	font-weight: bold;
}
#mb_detail_forfait .sup_info{
	font-weight: bold;
	top: 80px;
	right: 150px;
	text-align: left;
	position: absolute;
}
#mb_detail_forfait .sup_info.deux{
	margin-top: 20px;
}
#mb_detail_forfait .sup_info.trois{
	margin-top: 40px;
}
#mb_detail_forfait .sup_info.quatre{
	margin-top: 60px;
}
#mb_detail_forfait .sup_info.cinq{
	margin-top: 80px;
}
#mb_detail_forfait .reservation{
	position: absolute;
	right: 150px;
	top: 200px;
	background-color: #ffa000;
	padding: 10px;
	border-radius: 15px;
	font-weight: bold;
}
#mb_detail_forfait .contact {
	margin-top: 15px;
}

.mb_container {
	display:none;
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
}

.mb_container > .mb_background {
	display: block;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

/* Seconde boite de dialogue */
#mb_detail_forfait {
	background: white;
	display: none;
	margin: 100px auto;
	position: relative;
	width: 1000px;
	padding: 40px;
	border: 10px solid #ffa000;
	height: 800px;
	overflow-y: scroll;
}


#cat_imag{
	float: left;
	width: 500px;
	height: 200px;
	overflow: hidden;
	position: relative;
}
ul#images_list {
	width: 1500px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	transition: left 500ms;
}
ul#images_list > li {
	display: inline-block;
	width: 500px;
	height: 400px;
}
ul#images_list > li img {
	 width: 500px;
	 height: 300px;
 }
 
/******************* Page de RESERVATION *******************/

#reservation_header {
	height: 210px;
	margin-top: 50px;
	background-color: #252323;
	color: #fff;
}
#reservation_header > img {
	float: left;
	padding: 26px;
}
#reservation_header > div {
	float: left;
	width: 65%;
	padding-left: 100px;
}
#reservation_header h2 {
	padding: 25px 0 10px;
}
#reservation_header h4 {
	color: #5D5D5D;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
#reservation_header p:first-of-type {
	margin-top: 20px;
}
#reservation_header p {
	line-height: 1.5em;
	letter-spacing: 2px;
	font-size: 0.9em;
	font-weight: 200;
}

/* Debut du formulaire */
fieldset {
	margin: 50px 0;
	padding: 25px;
}
legend {
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0 20px;
	font-weight: 500;
}
form li {
	margin: 20px 0;
}
form li label:nth-of-type(2) {
	padding-left: 50px;
}
label {
	display: inline-block;
	letter-spacing: 2px;
}
input, select {
	letter-spacing: 2px;
	padding-left: 10px;
}
#client label {
	width: 12%;
}
#client input {
	width: 38%;
}
#voyage label {
	width: 25%;
}
#voyage input, #voyage select {
	width: 21%;
}
form li input:nth-of-type(2), form li select {
	margin-left: 80px;
}
#form_resa .error {
	border : 2px solid red;
}
#form_resa .error_msg {
	display : inline-block;
	margin:0 0 0 25px;
	font-size: 0.9em;
	color:red;
}
#voyage img.ui-datepicker-trigger {
	height: 20px;
}
/* Fin du formulaire */
/* Debut du tableau recapitulatif */
table {
	width: 100%;
	letter-spacing: 2px;
	/*border: 1px solid #252323;*/
	margin-bottom: 50px;
	border-collapse: collapse;
}
caption {
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 20px;
}
thead {
	text-align: left;
	background-color: #252323;
	color: #fff;
}
thead th {
	padding: 20px 25px;
	font-weight: 500;
	text-transform: uppercase;
	border: 1px solid #252323;
}
td {
	padding: 10px 20px 10px 25px;
	font-size: 0.9em;
	height: 35px;
	line-height: 35px;
	border: 1px solid #252323;
}
tbody tr:last-of-type {
	text-transform: uppercase;
	font-weight: 500;
}
tbody tr:last-of-type td:last-of-type {
	color: #ffa000;
}
/* Fin du tableau recapitulatif */
/* Boutons de validation de la reservation */
#validation {
	display: inline-block;
	margin: 0 25%;
}
input[type="submit"]#ok, input[type="submit"]#cancel {
	text-transform: uppercase;
	padding: 10px 40px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #252323;
	color: #ffa000;
	margin: 0 50px;
}
input[type="submit"]#ok:hover, input[type="submit"]#cancel:hover {
	background-color: #252323;
	text-transform: uppercase;
	padding: 10px 40px;
	cursor: pointer;
	margin: 0 50px;
}

/******************* FOOTER *******************/
footer {
	background-color: #252323;
	height: 150px;
	font-size: 0.8em;
}
.colonne {
	float: left;
	padding: 25px 50px;
	width: 33%;
} 
.colonne li{
	display: block;
	color: #fff;
	padding-bottom: 10px;
}
footer > div:nth-of-type(3){
	text-align: right; 
}
.colonne li > a {
	color: #fff;
}
.colonne a img{
	height: 35px;
	padding-left: 10px;
}
#coordonnees {
}
#coordonees ul{
	list-style-type: none;
	height: 10px;
	color: black;
}
#coordonnees li{
	color: black;
}

#top{
	float: right;
	margin-top:40px;
}
#top img{
		height: 55px;
}

