/* RESET CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* GLOBAL CSS */
body {
	font-family: 'Raleway', sans-serif;
	font-size: 400;
	background-color: beige;
	margin: 0;
}

#wrapper {
	margin: 0 auto;
	width: 1200px;
	background-color: #fff;
}
.clear {
	clear: both;
}
ul > li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* Les couleurs du site 
#6882e1 : Bleu
#ffa000 : Orange */

/******************* HEADER *******************/

header {
	background-color: #6882e1;
	width: 100%;
}

/* Navigation secondaire */

#sec-nav {
	width: 100%;
	height: 120px;
	padding: 10px 50px;
}
#sec-nav > a {
	display: inline-block;
	height: 100px;
	line-height: 100px;
}
#logo{
	width: 90px;
	float: left;
	padding-top: 10px;
}
#agence_name {
	color: #fff;
	float: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	vertical-align: middle;
	margin-left: 20px;
}
#sec-nav ul {
	display: inline;
	float: right;
	height: 100px;
	line-height: 100px;
}
#sec-nav  ul > li {
	display: inline-block;	
	font-size: 0.9em;
	margin-left: 25px;
}
#sec-nav ul li > a {
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 10px;
	vertical-align: middle;
}
#sec-nav ul li > a:hover {
	background-color: #ffa000;
}

/* Navigation principale */
#main-menu {
	background-color: #ffa000;
	width: 100%;
	text-align: center;
}
#main-menu ul {
	display: inline;
}
#main-menu ul > li {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#main-menu ul li > a {
	display: inline-block;
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 0 50px;
}
#main-menu >ul >li a:hover{
	background-color: #6882e1;
}

/******************* ACCUEIL *******************/
main{
	width: 100%;
}
/* Banner */
#banner{
   	width: 100%;
}
section {
	padding: 0 50px;
}
h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 20px 0;
}
section > p {
	margin-bottom: 20px;
}

/******************* FOOTER *******************/
footer {
	background-color: #6882e1; 
	height: 150px;
	font-size: 0.8em;
}
.colonne {
	float: left;
	padding: 25px 50px;
	width: 33%;
} 
.colonne li{
	display: block;
	color: #fff;
	padding-bottom: 10px;
}
footer > div:nth-of-type(3){
	text-align: right; 
}
.colonne li > a {
	color: #fff;
}
.colonne a img{
	height: 35px;
	padding-left: 10px;
}
#coordonnees {
}
#coordonees ul{
	list-style-type: none;
	height: 10px;
	color: black;
}
#coordonnees li{
	color: black;
}

#top{
	float: right;
	margin-top:40px;
}
#top img{
		height: 55px;
}

